extends base.pug

block style 
  style
      include ../static/style.css
      include ../static/styleContact.css
      include ../static/dance.css
      include ../static/styleInfo.css

block content 
    div.container
        h1 Informations regarding our classes 

            h2  Class Timing  