extends base.pug

block style 
  style
      include ../static/style.css
      include ../static/styleContact.css
      include ../static/dance.css
      include ../static/styleService.css

block content 
    div.container
        h1 Our Services 
            h4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo cum aut beatae reiciendis deserunt laboriosam nesciunt vitae totam porro, dignissimos repellat sit ad alias aperiam a iure obcaecati asperiores ullam saepe, libero facilis nostrum! Id aliquid unde dolorum labore commodi. Magnam dicta ab facilis? Temporibus quae blanditiis quo voluptatibus unde, eligendi cumque nulla eum eius beatae.